@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pirata+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  background:$bgcolor;
  background-image:$bgimg;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
}

*:not(img) {box-sizing: border-box;}
@import 'components';

.test {
    @include img(50px, 25px, 15px);
}


.test1 {
    @include img(150px, 250px, 25px);
    background-color:$red;
}

h1 {color:$bgcolor;}

/*Map associant chaque classe spécifique à la variable de couleur*/
$colorMap: (
  vollheim: $vollheim,
  arvandor: $arvandor,
  xingAlda: $xingAlda,
  cerah: $cerah,
  alMalaq: $alMalaq,
  claraNocte: $claraNocte,
  ananda: $ananda,
  nomades: $nomades,
  admin: $admin,
  nouvelArrivant: $nouvelArrivant,
  inactif: $inactif
);

// Générer les styles pour chaque classe spécifique
@each $class, $color in $colorMap {
  .PNJ.#{$class} {
    background-color:$W-primary;
    padding:25px;

    .titre {
      color: $color;
      font-size:45px;
    }

    img {
        @include img(50px, 50px, 25px);
        background-color: $color;
    }
  }
}


/******** HOME PAGE *********/
@import 'home_page';