@charset "UTF-8";

@font-face {
  font-family: 'goldenRings';
  src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.eot');
  src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.eot') format('embedded-opentype'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.woff2') format('woff2'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GRo.woff') format('woff'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.ttf') format('truetype'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'goldenRings';
    src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.svg') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "goldenRings";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stroke:before { content: '\e806'; } /* '' */
.icon-bold:before { content: '\e807'; } /* '' */
.icon-center:before { content: '\e808'; } /* '' */
.icon-code:before { content: '\e809'; } /* '' */
.icon-color:before { content: '\e80a'; } /* '' */
.icon-headline:before { content: '\e80b'; } /* '' */
.icon-time:before { content: '\e80c'; } /* '' */
.icon-hide:before { content: '\e80d'; } /* '' */
.icon-img:before { content: '\e80e'; } /* '' */
.icon-italic:before { content: '\e80f'; } /* '' */
.icon-justify:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-quote:before { content: '\e813'; } /* '' */
.icon-right:before { content: '\e814'; } /* '' */
.icon-size:before { content: '\e815'; } /* '' */
.icon-emote:before { content: '\e816'; } /* '' */
.icon-underline:before { content: '\e817'; } /* '' */
.icon-spoiler:before { content: '\e818'; } /* '' */
.icon-upload:before { content: '\e819'; } /* '' */
.icon-youtube:before { content: '\e81a'; } /* '' */
.icon-artefacts:before { content: '\e81b'; } /* '' */
.icon-carte:before { content: '\e81c'; } /* '' */
.icon-herbier:before { content: '\e81d'; } /* '' */
.icon-mineraux:before { content: '\e81e'; } /* '' */
.icon-bestiaire:before { content: '\e81f'; } /* '' */
