@charset "UTF-8";

@font-face {
  font-family: 'goldenRings';
  src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.eot');
  src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.eot') format('embedded-opentype'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.woff2') format('woff2'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GRo.woff') format('woff'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.ttf') format('truetype'),
       url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'goldenRings';
    src: url('https://sevengoldenrings.github.io/7GoldenRings/font/font-7GR.svg') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "goldenRings";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// EDITEUR
.icon-bold:before { content: '\e822'; } /* '' */
.icon-italic:before { content: '\e80f'; } /* '' */
.icon-underline:before { content: '\e817'; } /* '' */

.icon-left:before { content: '\e811'; } /* '' */
.icon-center:before { content: '\e808'; } /* '' */
.icon-right:before { content: '\e814'; } /* '' */
.icon-justify:before { content: '\e810'; } /* '' */

.icon-quote:before { content: '\e813'; } /* '' */
.icon-code:before { content: '\e809'; } /* '' */
.icon-spoiler:before { content: '\e818'; } /* '' */
.icon-hide:before { content: '\e821'; } /* '' */

.icon-upload:before { content: '\e819'; } /* '' */
.icon-img:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-youtube:before { content: '\e81a'; } /* '' */

.icon-headline:before { content: '\e80b'; } /* '' */
.icon-size:before { content: '\e815'; } /* '' */
.icon-color:before { content: '\e80a'; } /* '' */
.icon-emote:before { content: '\e816'; } /* '' */
.icon-time:before { content: '\e80c'; } /* '' */

// ENCYCLOPEDIES
.icon-artefacts:before { content: '\e81b'; } /* '' */
.icon-carte:before { content: '\e81c'; } /* '' */
.icon-herbier:before { content: '\e81d'; } /* '' */
.icon-mineraux:before { content: '\e81e'; } /* '' */
.icon-bestiaire:before { content: '\e81f'; } /* '' */

// ROYAUMES
.icon-vollheim:before { content: '\e829'; } /* '' */
.icon-arvandor:before { content: '\e825'; } /* '' */
.icon-xingalda:before { content: '\e82a'; } /* '' */
.icon-cerah:before { content: '\e826'; } /* '' */
.icon-almalaq:before { content: '\e823'; } /* '' */
.icon-claranocte:before { content: '\e827'; } /* '' */
.icon-ananda:before { content: '\e824'; } /* '' */
.icon-nomades:before { content: '\e828'; } /* '' */
